@inherits LayoutComponentBase

<Spinner></Spinner>
@* <Spinner Type="@SpinnerType.Text" Text="Processing..."></Spinner> *@
@* <Spinner Type="@SpinnerType.Icon" Icon="loading.svg"></Spinner> *@

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
